<div class="spec-block padded">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="ps-column text-center">
          <div class="md-wrapper">
            <%= image_tag "certificate.svg", alt: "garantie 10 ans" %>
          </div>
          <h3>GARANTIE 10 ANS</h3>
          <p>
            Votre piscine est garantie 10 ans par un contrat d'assurance par capitalisation
            Cette décennale s'applique sur le Gel Coat, la Structure, l'Etancheité et l'Installation par notre équipe.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="ps-column text-center">
          <div class="md-wrapper">
            <%= image_tag "french-flag.svg", alt: "fabrication française" %>
          </div>
            <h3>Fabrication Française</h3>
            <p>
              Nos coques de fabrication française bénéficient d’un ensemble de brevets et de certifications qui garantissent une avance technologique remarquable.
            </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="ps-column text-center">
          <div class="md-wrapper">
            <%= image_tag "construction.svg", alt: "sans sous traitance" %>
          </div>
          <h3>SANS SOUS-TRAITANCE</h3>
          <p>
            Sans sous-traitance, notre équipe de techniciens est à votre entière disposition pour la pose de votre piscine et l’installation de votre piscine dans votre jardin jusqu’à sa mise en service.
          </p>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="ps-column text-center">
          <div class="md-wrapper">
            <%= image_tag "admin.svg", alt: "suivi administratif" %>
          </div>
          <h3>SUIVI ADMINISTRATIF</h3>
          <p>
            Nous accompagnons nos clients de A à Z. Notre équipe vous aide à la réalisation du dossier mairie jusqu'à son acceptation
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
    <h2 class="text-center">
      Pourquoi choisir une piscine coque polyester pour l'installation de votre piscine ?
    </h2>

    <div class="d-flex justify-content-between align-items-center flex-lg-row flex-column">
      <p>
        Faire construire une piscine enterrée est un projet sérieux qui occasionne de nombreuses interrogations. <br>
        <span>Minéral piscine</span> <strong>est là pour vous apporter son conseil et son expérience en installation de piscine coque polyester en Gironde.</strong>
        Sur la <span>métropole Bordelaise</span>, en passant par <span>Libourne</span>, <span>rive droite</span>, ainsi que  <span>dans le Médoc</span> et sur <span>le Bassin d'Arcachon</span>.
        Demandez gratuitement <span>un devis piscine coque polyester</span> et une étude personnalisée...<%= link_to "en savoir plus", "contact", class:"link"  %> <br>

        Le <strong>monobloc polyester</strong> est une réalisation de piscine en matériaux composites dotées de renforts et fabriquée en un seul bloc qui vous procure une <strong>étanchéité parfaite</strong> et une <strong>robustesse dans le temps</strong>. De plus, l’entretien de piscine polyester est facile et peu coûteux.

        <span>Minéral Piscine</span> <strong>vous garantit une qualité de coque polyester de fabrication française distribuée sur toute la Gironde, avec décennale</strong> et vous assure par son savoir-faire en installation de piscine, <strong>sans sous-traitance</strong>, un confort et une robustesse d’utilisation de votre bassin.
      </p>
      <div class="pt-3">
        <%= image_tag "piscine-polyester-mineral-pisicne.JPG", alt: "pisicne coque Mineral piscine",width: "400", class: "card-category" %>
      </div>
    </div>
      <p class="text-center py-5">
         Nous vous proposons un large choix d'accessoires et d'équipements et une palette de 4 coloris de coques au design épuré et volontairement sobre pour garantir à la fois le côté pratique, ludique et esthétique de votre bassin. Notre métier, c'est de vous accompagner dans votre projet de piscine, selon vos envies et votre budget.
        Rencontrer nos conseillers et concevez ensemble l'univers piscine qui vous ressemble.
      </p>

</div>
