<div class="container pt-5">
  <h2>Présentation de notre gamme</h2>
  <h3>
    <ul class="filter-picture">
      <li class="btn-filt pr-2 active" data-filter="all">Toutes les piscines coques polyester </li>|
      <li class="btn-filt pl-2" data-filter="volet_immerge"> volet immergé</li>
    </ul>
  </h3>

  <div class="cards">
   <% data.modeles.each do |owner, piscine| %>
    <div class= "pool-card filter <%= piscine.tag %>" data-toggle="modal" data-target="#modal-<%= piscine.name %>" >
      <%= image_tag piscine.url, alt: piscine.tag, :style => "height: 300px; cursor: pointer" %>
      <div class="pool-card-footer">
        <div>
          <h3><%= owner %></h3>
          <p><%= piscine.type %></p>
        </div>
          <%= link_to "en savoir plus", "#{owner}" %>
      </div>
        <div id="modal-<%= piscine.name %>" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <%= image_tag piscine.url, alt:"piscine coques #{piscine.type}"  %>
            </div>
          </div>
        </div>
    </div>
   <% end %>
  </div>
  <div class="padded-5"></div>
</div>
