---
title: votre piscine coque polyester en gironde  | Minéral Piscine Bordeaux
description: Vous trouverez un large choix de piscines coques polyester avec fond plat ou inclinée à Bordeaux et en Gironde.
---
  <% piscine = data.modeles[owner] %>
<div class="container padded-5">
  <h2><%= "#{owner}" %> - la piscine coque polyester à <%= piscine.type %>.</h2>
  <div class="row pt-2">
    <div class="col-12 col-lg-8">
      <div id="carouselExampleControls" class="carousel slide pb-5" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item card-carousel active">
            <img src="<%= piscine.url %>" class="d-block w-100" alt=" <%= "piscine #{piscine.name}" %>">
          </div>
          <% piscine.images.each do |image| %>
            <div class="carousel-item card-carousel">
              <img src="<%= image %>" class="d-block w-100" alt="<%= "piscine #{piscine.name}" %>">
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>
    <div class="col-6 col-lg-4">
      <h3>Dimensions disponibles pour la gamme <%= piscine.name %> </h3>
      <p>Longueur interieur x largeur interieur x profondeur</p>
      <div class="dimension-list">
        <% piscine.dimension.each do |dim| %>
              <span class="dimension" data-modele="<%= dim.serie %>">
                 <%= "#{dim.long}"  %><br>
                 x
                 <br><%= dim.larg %><br>
                 x
                 <br><%= dim.prof %>
              </span>

        <% end %>
      </div>
      <%= image_tag "#{piscine.thumb}", alt: "piscine coque polyester #{piscine.name}", class: "pt-2" %> <br>
      <%= link_to "Être contacté par un conseiller", "contact", class:"btn btn-primary mt-3" %>

    </div>
  </div>


</div>
