---
title: pourquoi une piscine coque polyester ? | Minéral piscine
description: Confiez-nous votre projet piscine et laissez vous guider par notre équipe pour la pose de votre piscine en toute sérénité.
---

<div class="header-page d-flex justify-content-between align-items-center flex-md-row flex-column px-5">
  <div>
    <h1>Minéral piscine</h1>
    <p>Votre spécialiste de la piscine coque polyester</p>
  </div>
  <div> <%= link_to "Etude personnalisée", "contact", class: "btn btn-info"  %> </div>
</div>

<div class="container wrapper-body py-3">
  <div id="reflex" class="d-flex justify-content-between align-items-center flex-lg-row flex-column py-3">
    <div>
      <h2>POURQUOI CHOISIR Minéral piscine ?</h2>
      <p class="px-3">
        <span>Faire construire une piscine</span> enterrée est un projet sérieux qui occasionne de nombreuses interrogations.
        La vente de piscine et <span>la mise en place de piscine</span> est un vrai métier, <span>Minéral piscine</span> vous apporte son <span>conseil et son expérience</span> en installation de piscine coque polyester à <strong>Bordeaux</strong>, <strong>Pessac</strong>, <strong>Mérignac</strong>, <strong>Eysines</strong>, <strong>Blanquefort</strong>, <strong>Saint Médard en Jalles</strong>, <strong>Saint Aubin du Médoc</strong>, <strong>Artigues près de Bordeaux</strong>, <strong>Libourne</strong>, <strong>Langon</strong>, ainsi que dans tout le médoc, toute la Gironde et le bassin d'Arcachon.
      </p>
    </div>
    <%= image_tag "women.jpg", alt: "pourquoi une piscine?", width: "400", class:"card-category" %>
  </div>
</div>

  <div class="spec-info p-3 text-center">
      <div class="title-broch">
        <h3>Avec Minéral piscine, soyez serein ! Votre piscine est garantie 10 ans par un contrat d'assurance par capitalisation | <i class="fas fa-award"></i></h3>
      </div>
  </div>

  <div class="container">
    <div id="savoir-faire" class="d-flex justify-content-between align-items-center flex-lg-row flex-column py-5">
      <%= image_tag "https://res.cloudinary.com/aquiti/image/upload/v1588179201/douceur-piscine/MARINE2.jpg", alt: "piscine polyester", width: "400", class:"card-category" %>
      <div>
        <h2 class="pt-3 pl-3">
          Pourquoi choisir une piscine coque polyester ?
        </h2>
        <p class="pl-3">
          <span>Le monobloc polyester est une réalisation de piscine en matériaux composites</span> dotées de renforts et fabriquée en un seul bloc qui vous procure <span>une étanchéité parfaite</span> et une <span>robustesse dans le temps</span>. De plus, l’entretien de piscine polyester est facile et <span>peu coûteux</span>.
          <br>
          <span>Minéral piscine</span> vous garantit une <span>fabrication de coque de piscine française</span> et vous assure par son savoir-faire en construction et en installation de piscine un confort d’utilisation et une robustesse pour davantage de tranquillité.  <%= link_to "Vous disposez d'un choix", "piscines", class:"link"  %> de plusieurs couleurs de piscine ainsi que de toute une gamme d'accessoires et notre métier, c'est de vous accompagner dans votre projet de piscine, selon votre budget et selon vos envies.
        </p>
      </div>
    </div>
  </div>

  <div class="spec-info p-3 text-center">
      <div class="title-broch">
        <h3>Sans sous-traitance, notre équipe de techniciens est à votre entière disposition pour la pose et l’installation de votre piscine dans votre jardin jusqu’à sa mise en service.</h3>
      </div>
  </div>

  <div class="container">
    <div id="consult" class="d-flex justify-content-between align-items-center flex-lg-row flex-column py-5">
      <div>
        <h2>Nous vous accompagnons.</h2>
        <p class="px-3">
          <span>Minéral piscine</span> est là <span>pour vous conseiller et vous accompagner dans le choix et la construction de piscine </span>tout en respectant le budget piscine fixé. Le coût d’une piscine coque est ainsi <span>maîtrisé et sans surprises</span>. <br>
          Demandez gratuitement un devis piscine coque polyester et une étude personnalisée grâce à notre <%= link_to "formulaire", "contact", class:"link"  %>  ou un rappel téléphonique et nous vous répondrons dans les plus brefs délais.
          <br>
          Notre devise : <span>Service de proximité, Fabrication française garantie,  Disponibilité et Conseil d’un professionnel expérimenté.</span>
        </p>
      </div>
      <%= image_tag "https://res.cloudinary.com/aquiti/image/upload/v1588212577/douceur-piscine/consulting.jpg", alt: "pourquoi une piscine?", width: "400", class:"card-category" %>
    </div>
  </div>
  <div class="d-flex justify-content-between flex-lg-row flex-column px-3">
    <div class="spec-admin text-center">
      <i class="fas fa-university" ></i>
    <h3>SUIVI ADMINISTRATIF</h3>
    <p>
      Chez Minéral piscine, nous accompagnons nos clients de A à Z. Notre équipe vous aide à la réalisation du dossier mairie jusqu'à son acceptation.
    </p>
    </div>

    <div class="spec-admin text-center">
      <i class="fas fa-euro-sign"></i>
    <h3>FINANCEMENT</h3>
    <p>
      Nous vous proposons la possibilité de financer votre projet piscine avec un crédit, TEG 3,90. Exemple : 92€/ mois pour un montant emprunté de 12500€ sur une durée de 180 mois. Assurance en supplément. <br>
      <%= link_to "vous souhaitez un conseil", "contact", class:"up-btn" %><i id="hand-left" class="fas fa-hand-point-left"></i>
    </p>
    </div>
  </div>


