---
title: Votre piscine Coque Polyester sur Bordeaux | Minéral piscine
---
<% content_for(:navbar_class, '') %>
<%= partial "index/banner" %>

<%= partial "index/block-infos" %>

<%= partial "index/brochure-finance" %>

<%= partial "index/paralax" %>

<div class="container padded-5">
  <div class="row">
    <div class="col-12 col-lg-8">
      <h2>MINÉRAL PISCINE</h2>
      <h3><strong>Spécialiste de la piscine coque polyester en Gironde</strong></h3>
      <p>
        <strong>Spécialiste dans l'installation de piscine coque polyester</strong>, <span>Minéral Piscine</span> vous accueille à Villenave d'Ornon pour toute étude personnalisée de votre projet de piscine enterrée. <br>
        Entreprise à taille humaine, nous avons décidé de mettre notre expérience en construction de piscine à votre service et d’offrir à nos clients <strong>des coques de fabrication française</strong> qui suivent un cahier des charges strict et qui bénéficient d’un <strong>ensemble de brevets et de certifications</strong> qui garantissent une qualité de coque polyester innovante et durable. <br>
        <span>Minéral Piscine</span> vous propose une <strong>gamme de coques polyester en fond plat</strong>, dont les lignes contemporaines des escaliers, banquettes et angles de cette collection, s'adaptent parfaitement aux nouvelles tendances de l'habitat et des terrasses et vous permettront de personnaliser sans contrainte votre environnement piscine. <br>
        <strong>Sans sous-traitance</strong>, notre équipe est à votre entière disposition pour <strong>la pose de votre piscine</strong> et l’installation de votre piscine dans votre jardin jusqu’à sa mise en service.
        Chez <span>Minéral Piscine</span>, notre objectif  est de vous rendre ce projet accessible et vous offrir une piscine unique en termes d’utilisation, de qualité, de sécurité et de durabilité. <br> <%= link_to "en savoir plus", "contact", class:"link"  %>
      </p>
    </div>
    <div class="col-12 col-lg-4 d-flex flex-column">
      <%= image_tag "house.svg", alt: "fabrication française", class:"py-3" %>
      <div>
        <div class="ic-inner my-2">
          <i class="fas fa-check"></i>
          <span class="p-2">Etude personalisée de votre projet de piscine</span>
        </div>
        <div class="ic-inner my-2">
          <i class="fas fa-check"></i>
          <span class="p-2">Equipements et accessoires</span>
        </div>
        <div class="ic-inner my-2">
          <i class="fas fa-check"></i>
          <span class="p-2">Traitement de l'eau</span>
        </div>

      </div>

    </div>
  </div>
</div>



<%= partial "index/brochure" %>
<%= partial "index/carousel-pool" %>


