---
title: Votre piscine Coque Polyester sur Bordeaux | Minéral piscine
---
<% content_for(:navbar_class, '') %>
<%= partial "index/banner" %>

<%= partial "index/block-infos" %>

<%= partial "index/paralax" %>

<div class="container py-3">
  <div class="row">
    <div class="col-12 col-md-4">
      <h2>QUI SOMMES NOUS ?</h2>
      <p>
        Votre expert de la <span>piscine coque polyester en Gironde</span>.
        Spécialiste dans l'installation de piscine coque polyester,
        <span>Minéral piscine</span> vous accueille à <span>Saint Jean d’Illac</span> près de
        <span>Bordeaux</span>, pour vous conseiller et vous accompagner dans le choix et la construction de votre piscine. <%= link_to "en savoir plus", "about", class:"link"  %>
      </p>
      <div class="ic-inner my-2">
        <i class="fas fa-check"></i>
        <span class="p-2">Etude personalisée de votre projet de piscine</span>
      </div>
      <div class="ic-inner my-2">
        <i class="fas fa-check"></i>
        <span class="p-2">Equipements et accessoires</span>
      </div>
      <div class="ic-inner my-2">
        <i class="fas fa-check"></i>
        <span class="p-2">Traitement de l'eau</span>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="d-inline">
        <%= image_tag "warranty.png", alt: "piscine garantie 10ans", width: '120' %>
        <%= image_tag "garantie-st.png", alt: "piscine garantie 10ans", width: '130' %>
        <p>
         <span>Le monobloc polyester</span>  est une réalisation de <span>piscine en matériaux composites</span> dotées de renforts et fabriquée en un seul bloc qui vous procure <span>une étanchéité parfaite et une robustesse dans le temps</span> . De plus, l’entretien de piscine polyester est facile et peu coûteux.
        </p>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <%= image_tag "logo-fa.png", alt: "piscine france",width: '200', class:"d-block mb-2" %>
      <h3 class="mt-3">Fabrication Française</h3>
      <p>
        Nos coques de fabrication française bénéficient
        d’un ensemble de brevets et de certifications
        qui garantissent une avance technologique remarquable.
        <span>Notre devise :</span> Fabrication française garantie, Service de proximité,
        Disponibilité et Conseil d’un professionnel expérimenté.
      </p>
    </div>
  </div>
</div>


<%= partial "index/brochure" %>

<%= partial "index/testimonials" %>


<%= partial "index/carousel-pool" %>
